body {
    margin-top: 1.0em;
    background-color: #fbf4f7;
    font-family: Helvetica, Arial, FreeSans, san-serif;
    color: #000000;
}
#container {
    margin: 0 auto;
    width: 700px;
}
h1 { font-size: 3.8em; color: #040b08; margin-bottom: 3px; }
h1 .small { font-size: 0.4em; }
h1 a { text-decoration: none }
h2 { font-size: 1.5em; color: #040b08; }
h3 { font-size: 1.2em; font-style: italic; color: #040b08; margin-bottom: 0px; }
a { color: #040b08; }
pre { background: #000; color: #fff; padding: 15px;}
hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
p { margin: 0px 0px 0.5em 0px;}
  
#primary-navigation
{
  	padding: 0;
    height:23px;
    position:relative;
    margin: 8px 0 0 0;
}
  
#primary-left
{
    font-size: 93%;
    line-height: normal;
    padding: 0 0 0 8px;
    height:23px;
}
  
#primary-left ul
{
    padding: 0 0 0 5px;
    margin: 0;
    list-style: none;
}
  
#primary-left li
{
    display:inline;
}


#primary-left a
{
    font-weight: normal;
    display: block;
    float: left;
    padding: 5px 14px 5px 14px;
    margin: 0px 1px 0 0;
}

#primary-left a:hover
{
    background-image:none;
}

.footer { text-align:center; padding-top:30px; font-style: italic; }
